<template>
  <div>
    <Wallpaper v-for="(item, idx) in fWallpapers" :key="idx" :card="item" />
  </div>
</template>

<script>
import Api from '../services/Api'
import Wallpaper from '../components/Wallpaper'
  export default {
    data() {
      return {
        fWallpapers: []
      }
    },
    components: {
      Wallpaper
    },
    mounted() {
       Api.showFavouriteWallpaper()
          .then(user => this.fWallpapers = user.favouriteWallpaper)
    }
  }
</script>


<style lang="scss" scoped>

</style>