<template>
  <div class="home">
    <WallpaperList />
  </div>
</template>

<script>
import WallpaperList from '@/components/WallpaperList.vue'

export default {
  name: 'Home',
  components: {
    WallpaperList
  }
}
</script>
