<template>

  <div class="navbar">
    <v-app-bar
      color="deep-purple accent-4"
      dense
      dark
    >
      <!-- <v-app-bar-nav-icon></v-app-bar-nav-icon> -->
       <v-menu
      transition="slide-x-transition"
      bottom
      right
    >
      <template v-slot:activator="{ on }">
        <v-btn
          icon @click="toHome"
          class="deep-orange"
          color="primary"
          dark
          v-on="on"
        ><v-icon>mdi-home</v-icon>
        </v-btn>
      </template>

      <v-list>
        <v-list-item
          v-for="(item, i) in items"
          :key="i"
          @click="toFavoritos"
        >
          <v-list-item-title>{{ item.title }}</v-list-item-title>
        </v-list-item>
      </v-list>
    </v-menu>
      <!-- -->

      <v-toolbar-title>
        <v-btn @click="toHome">Wallpapers</v-btn>
      </v-toolbar-title>

      <v-spacer></v-spacer>

      <v-btn icon @click="toLogin">
        <v-icon>mdi-login</v-icon>
      </v-btn>

      <v-btn icon>
        <v-icon>mdi-magnify</v-icon>
      </v-btn>

      <v-menu
        left
        bottom
      >
        <template v-slot:activator="{ on }">
          <v-btn icon v-on="on">
            <v-icon>mdi-dots-vertical</v-icon>
          </v-btn>
        </template>

        <v-list>
          <v-list-item
            v-for="n in 5"
            :key="n"
            @click="() => {}"
          >
            <v-list-item-title>Option {{ n }}</v-list-item-title>
          </v-list-item>
        </v-list>
      </v-menu>

    </v-app-bar>
  </div>
</template>

<script>
  export default {
    //WIP
    data: () => ({
      items: [
        { title: 'Favoritos' },
        { title: 'Click Me' },
        { title: 'Click Me' },
        { title: 'Click Me 2' },
      ],
    }),
    //WIP

    methods: {
      toHome() {
        this.$router.push('/')
      },
      toLogin() {
        this.$router.push('/login')
      },
    }
  }
</script>

<style lang="css" scoped>
.navbar {
  margin-bottom: 12px;
}
</style>