<template>
  <v-card
    class="mx-auto card"
    max-width="344"
  >
    <v-img
      :src="card.download_url"
      height="200px"
    ></v-img>

    <v-card-title>
      {{card.author}}
    </v-card-title>

    <!-- <v-card-subtitle>
      1,000 miles of wonder
    </v-card-subtitle> -->

    <v-card-actions>
      <v-btn @click="addToFavourite(card._id)" text>Añadir a favoritos</v-btn>

      <!-- <v-btn
        color="purple"
        text
      >
        Explore
      </v-btn> -->

      <v-spacer></v-spacer>

    </v-card-actions>

  </v-card>
</template>

<script>
import Api from "../services/Api"
  export default {
    data () {
      return {
        show: false
      }    
    },
    props: {
      card: Object
    },
    methods: {
      addToFavourite(wallpaperId) {
        Api.addFavourite(wallpaperId).then( res => alert(res))
      }
    }
  }
</script>

<style lang="scss" scoped>
.card {
  margin-bottom: 24px;
}
</style>