<template>
  <div class="list">
    <Wallpaper v-for="(item, idx) in wallpapers" :key="idx" :card="item" />
  </div>
</template>

<script>
import Api from '../services/Api'
import Wallpaper from './Wallpaper'

  export default {
    data() {
      return {
        wallpapers: []
      }
    },
    components: {
      Wallpaper
    },
    mounted() {
      Api.getWallpaper()
        .then(wallpapers => {
          this.wallpapers = wallpapers
          console.log(this.wallpapers)
        })
    }
  }
</script>

<style lang="scss" scoped>
.list {
  display: flex;
  flex-wrap: wrap;
}
</style>